<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Dados Mongo-->
    <add key="ConnectionString" value="mongodb://localhost:27017" />
    <add key="Database" value="TCC" />
    <add key="CustomerKey" value="3OKAOOEoPlJ5aQKR3ZII5OQGY" />
    <add key="CustomerKeySecret" value="IdfwEWchz8Mv468pklbb06px08lpDKHYHMEGSKpuLWYjtD1pMa" />
    <add key="AcessToken" value="296608449-ngjTc7kHu4hZpw5GD4KSwZvLd5mZ1VRecYNkEr9m" />
    <add key="AcessTokenSecret" value="Rn7NeeCWTcL4Ux0dHx4diRGt0o7pHwCsS2Q4gnyz1GOyG" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>