<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Dados Mongo-->
    <add key="ConnectionString" value="mongodb://localhost:27017"/>
    <add key="Database" value="TCC"/>
    <add key="CustomerKey" value="3OKAOOEoPlJ5aQKR3ZII5OQGY"/>
    <add key="CustomerKeySecret" value="IdfwEWchz8Mv468pklbb06px08lpDKHYHMEGSKpuLWYjtD1pMa"/>
    <add key="AcessToken" value="296608449-ngjTc7kHu4hZpw5GD4KSwZvLd5mZ1VRecYNkEr9m"/>
    <add key="AcessTokenSecret" value="Rn7NeeCWTcL4Ux0dHx4diRGt0o7pHwCsS2Q4gnyz1GOyG"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
